<div>
    <br>
    <form id="form" enctype="multipart/form-data" class="form-inline" hx-post="/transactions/upload" hx-target="#list">
        <label for="profile">Load more transactions using profile:</label>
        <select id="profile" name="profile" style="width: 200px">
            {#for profile in profiles}
            <option value="{profile.id}" {#if optional.profile && optional.profile == profile.id }selected{/if}>{profile.name}</option>
            {/for}
        </select>
        <label for="file">and file:</label>
        <input id="file" type="file" name="file">
        {#if optional.errorMessage }
        <div class="error" id="error">{optional.errorMessage}</div>
        {/if}
        <button type="submit" class="btn btn-secondary">Load</button>
    </form>
</div>