<div class="container pt-4" id="response">
    <h5>Transactions:</h5>
    <div class="form">
        <ul class="list-inline m-0">
            <li class="list-inline-item">
                <button
                        hx-delete="/transactions/pending"
                        hx-trigger="click"
                        class="btn btn-secondary"
                        hx-target="#response"
                        hx-swap="outerHTML">Delete pending transactions</button>
            </li>
            <li class="list-inline-item">
                <button
                        hx-delete="/transactions/all"
                        hx-trigger="click"
                        class="btn btn-secondary"
                        hx-target="#response"
                        hx-swap="outerHTML">Delete all transactions</button>
            </li>
        </ul>
    </div>
    <div id="movements-table">
        <div class="container table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th aria-valuetext="left">Subject</th>
                    <th aria-valuetext="left">Quantity</th>
                    <th aria-valuetext="left">Date</th>
                    <th aria-valuetext="left">Select</th>
                </tr>
                </thead>
                <tbody>
                {#for transaction in transactions}
                <tr>
                    <td>{transaction.subject}</td>
                    <td>{transaction.quantity}</td>
                    <td>{time:format(transaction.accountingDate, 'dd/MM/yyyy')}</td>
                    <td>
                        <ul class="list-inline m-0">
                            {#if groups.size() > 0}
                            <li class="list-inline-item">
                                <select class="form-control" name="group" hx-post="/transactions/{transaction.id}/group">
                                    {#if transaction.group == null }
                                    <option disabled selected value> -- select an option -- </option>
                                    {/if}
                                    {#for group in groups}
                                    <option value="{group.id}" {#if transaction.group != null && transaction.group.id == group.id }selected{/if}>{group.name}</option>
                                    {/for}
                                </select>
                            </li>
                            {/if}
                            <li class="list-inline-item">
                                <button
                                        hx-get="/rules/new?with={transaction.subject}&&assignTo={transaction.id}"
                                        hx-target="#rules-form-container"
                                        hx-trigger="click"
                                        class="btn btn-primary"
                                        _="on htmx:afterOnLoad wait 10ms then add .show to #rules-form then add .show to #rules-form-container-backdrop">Add New Rule</button>
                            </li>
                        </ul>
                    </td>
                </tr>
                {/for}
                </tbody>
            </table>
        </div>
        <div class="container">
            <strong>{transactions.size()}</strong> {#if transactions.size() == 1}transaction{#else}transactions{/if}
        </div>
        <div id="transaction-group-form-container"></div>
    </div>
    <hr>
</div>