<div class="container pt-4">
    <h5>Assign a group to the following transactions:</h5>
    <div id="movements-table">
        <div class="container table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th aria-valuetext="left">Subject</th>
                    <th aria-valuetext="left">Quantity</th>
                    <th aria-valuetext="left">Date</th>
                </tr>
                </thead>
                <tbody>
                {#for transaction in transactions}
                <tr>
                    <td>{transaction.subject}</td>
                    <td>{transaction.quantity}</td>
                    <td>{time:format(transaction.accountingDate, 'dd/MM/yyyy')}</td>
                </tr>
                {/for}
                </tbody>
            </table>
        </div>
        <div class="container">
            <strong>{transactions.size()}</strong> {#if transactions.size() == 1}transaction{#else}transactions{/if}
        </div>
    </div>
    <hr>
</div>