{#include base}
{#title}Account Manager - Dashboard{/title}

{#body}
<div class="container pt-4">
    <ul class="nav">
        {#for period in report.getPeriods()}
        <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#{period.getId()}" type="button" role="tab">{period.getName()}</button>
        </li>
        {/for}
    </ul>

    <div class="tab-content">
        {#for period in report.getPeriods()}
        <div class="tab-pane" id="{period.getId()}" role="tabpanel" aria-labelledby="{period.getId()}-tab">
            <table class="table">
                <thead>
                <tr data-index="-1">
                    <th aria-valuetext="left">Group</th>
                    <th aria-valuetext="left">Total</th>
                </tr>
                </thead>
                <tbody>
                {#for entry in report.getSummaryByPeriod(period).getResultByGroup()}
                <tr>
                    <td>{entry.key}</td>
                    <td>{entry.value.getSum()}</td>
                </tr>
                {/for}
                {#if report.getSummaryByPeriod(period).getRest().hasMovements() }
                <tr>
                    <td>Sin clasificar</td>
                    <td>{report.getSummaryByPeriod(period).getRest().getSum()}</td>
                </tr>
                {/if}
                </tbody>
            </table>
            <br>
            <div>
                {#for entry in report.getSummaryByPeriod(period).getResultByGroup()}
                    <h3>{entry.key}</h3>
                    <div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th aria-valuetext="left">Subject</th>
                                <th aria-valuetext="left">Quantity</th>
                                <th aria-valuetext="left">Date</th>
                            </tr>
                            </thead>
                            <tbody>
                                {#for transaction in entry.value.getMovements()}
                                <tr>
                                    <td>{transaction.subject}</td>
                                    <td>{transaction.quantity}</td>
                                    <td>{time:format(transaction.accountingDate, 'dd/MM/yyyy')}</td>
                                </tr>
                                {/for}
                            </tbody>
                        </table>
                    </div>
                {/for}
                {#if report.getSummaryByPeriod(period).getRest().hasMovements() }
                    <h3>Unclassified</h3>
                    <div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th aria-valuetext="left">Subject</th>
                                <th aria-valuetext="left">Quantity</th>
                                <th aria-valuetext="left">Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            {#for transaction in report.getSummaryByPeriod(period).getRest().getMovements()}
                            <tr>
                                <td>{transaction.subject}</td>
                                <td>{transaction.quantity}</td>
                                <td>{time:format(transaction.accountingDate, 'dd/MM/yyyy')}</td>
                            </tr>
                            {/for}
                            </tbody>
                        </table>
                    </div>
                {/if}
            </div>
        </div>
        {/for}
    </div>
</div>
{/body}
{/include}
